body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 25px;
  border-left-width: 0px;
  border-right-width: 0px;
  position: relative;
}
.container {
  padding-right: 0px;
  padding-left: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.container > .navbar-header {
  margin-right: 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-default .navbar-toggle {
  border-color: black;
}

.navbar-toggle {
  padding: 7px 2px;
  border: 2px solid transparent;
}

.navbar-toggle .icon-bar {
  width: 28px;
  height: 4px;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}